@use 'variables/variables' as v;
@forward './templates/templates';

// Main Container
.coming_soon_container {
  @extend %ai-center-column;
  position: relative;
  gap: 2rem;
  font-family: v.$fontfamily;
  height: 100vh;

  //Main Title

  h3 {
    width: fit-content;
    background-color: v.$color-black;
    color: v.$color-main-1;
    padding: 4px 8px;
    border-radius: 8px;
  }

  //Beerus Image
  .beerus {
    position: v.$absolute;
    left: 0px;
    top: 1rem;
    height: 8rem;
  }

  //Decor Line

  .coming_soon_line {
    position: v.$absolute;
    top: 8rem;
    background-color: v.$color-main-2;
    border-top: 5px solid v.$color-black;
    border-bottom: 5px solid v.$color-black;
    max-height: 30vw;
    min-height: 12vw;
    width: 100vw;
    z-index: 2;
  }

  //Div behind .bg-img-container to represent flasing

  .shadow {
    position: v.$absolute;
    top: 4.1rem;
    z-index: 2;
    border-radius: 1rem;
    background-color: v.$color-main-2;
    box-shadow: 0px 0px 25px 25px v.$color-boxflash;
    animation: shadowFlash 2s ease;
    animation-iteration-count: infinite;

    //Shadow image
    .bg-img-shadow {
      @extend %comingsoon-maxdim;
      z-index: 3;
      border-radius: 1rem;
    }
  }

  //Main Image Container

  .bg-img-container {
    @extend %comingsoon-maxdim;
    @extend %ai-center-column;
    justify-content: center;
    border-radius: 1rem;
    z-index: 3;

    //Image

    .bg-img {
      @extend %comingsoon-maxdim;
      z-index: 3;
      border-radius: 1rem;
      border: 8px solid v.$color-black;
      &:hover {
        cursor: v.$cursor-pointer;
        max-width: 81vw;
        max-height: 51vh;
        transition: v.$transition-coming-soon;
      }
      &:active {
        max-width: 79vw;
        max-height: 49vh;
        transition: v.$transition-coming-soon;
      }
    }
  }

  //Whis Image

  .whis {
    position: v.$absolute;
    right: 1rem;
    bottom: 0px;
    height: 25vw;
    z-index: 4;
  }
}

/* Keyframe */

@keyframes shadowFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Media Querie */

@media only screen and (max-width: 1300px) {
  .shadow {
    display: none;
  }
  .coming_soon_container {
    height: 70vh;
    .beerus {
      display: v.$display-none;
    }
    h3 {
      width: fit-content;
      text-align: center;
    }
  }
}
