.coming_soon_container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Permanent Marker', cursive;
  height: 100vh;
}
.coming_soon_container h3 {
  width: fit-content;
  background-color: #000;
  color: #d69811;
  padding: 4px 8px;
  border-radius: 8px;
}
.bg-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  max-height: 50vh;
  border-radius: 1rem;
  z-index: 3;
}
.shadow {
  position: absolute;
  top: 4.1rem;
  z-index: 2;
  border-radius: 1rem;
  background-color: #441907;
  box-shadow: 0px 0px 25px 25px #ffae00;
  animation: shadowFlash 2s ease;
  animation-iteration-count: infinite;
}

.bg-img {
  max-width: 80vw;
  max-height: 50vh;
  z-index: 3;
  border-radius: 1rem;
  border: 8px solid #000;
}
.bg-img:hover {
  cursor: pointer;
  max-width: 81vw;
  max-height: 51vh;
  transition: 0.5s ease;
}
.bg-img:active {
  max-width: 80vw;
  max-height: 50vh;
  transition: 0.5s ease;
}
.bg-img-shadow {
  max-width: 80vw;
  max-height: 50vh;
  z-index: 3;
  border-radius: 1rem;
}
.coming_soon_line {
  position: absolute;
  top: 8rem;
  background-color: #441907;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  max-height: 30vw;
  min-height: 12vw;
  width: 100vw;
  z-index: 2;
}

/* Png s: Whis, Beerus */

.beerus {
  position: absolute;
  left: 0px;
  top: 1rem;
  height: 8rem;
}
.whis {
  position: absolute;
  right: 1rem;
  bottom: 0px;
  height: 25vw;
  z-index: 4;
}
@keyframes shadowFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Media Queries */

@media only screen and (max-width: 1300px) {
  .coming_soon_container {
    height: 70vh;
  }
  .beerus {
    display: none;
  }
}
