.footer_container .footer_links .footer_site,
.footer_container .footer_links .footer_contact,
.footer_container .footer_links .footer_helpme,
.footer_container .footer_links .footer_others {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer_container .footer_site a,
.footer_container .footer_helpme a,
.footer_container .footer_contact a,
.footer_container .footer_others a {
  display: flex;
  flex-direction: column;
}

.footer_container .footer_icons, .footer_container .footer_links {
  display: flex;
  justify-content: center;
}

/***************************/
/***************************/
/***************************/
/***********************News Card Templates*************************/
.footer_container {
  position: relative;
  bottom: 0px;
  height: 25rem;
  width: 100vw;
  background-color: #000;
  color: #fff;
  z-index: 3;
}
.footer_container .footer_line {
  position: absolute;
  top: 1.5rem;
  background-color: #fff;
  width: 100vw;
  height: 2rem;
  transform: rotateZ(178deg);
  z-index: 3;
}
.footer_container .footer_curly_img {
  position: absolute;
  top: -18rem;
  left: -5.5rem;
  transform: rotateZ(28deg);
  z-index: 3;
}
.footer_container .footer_curly_img_2 {
  position: absolute;
  top: -20rem;
  left: -3rem;
  transform: rotateZ(48deg);
  width: 500px;
  z-index: 3;
}
.footer_container .capsule_corp_container {
  position: relative;
  z-index: 3;
}
.footer_container .capsule_corp_container .capsule_corp_img {
  position: absolute;
  top: -8rem;
  left: 10px;
  height: 180px;
}
.footer_container .footer_icons {
  position: absolute;
  right: 3rem;
  top: 3rem;
  gap: 1rem;
  color: #da531a;
  font-size: 28px;
}
.footer_container .footer_icons #icon {
  z-index: 6;
}
.footer_container .footer_icons #icon:is(:hover, :focus) {
  color: #d69811;
  cursor: pointer;
}
.footer_container .footer_links {
  gap: 12rem;
  padding-left: 2rem;
}
.footer_container .footer_links h3 {
  color: #da531a;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2rem;
}
.footer_container .footer_links .footer_site,
.footer_container .footer_links .footer_contact,
.footer_container .footer_links .footer_helpme,
.footer_container .footer_links .footer_others {
  font-family: "Permanent Marker", cursive;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 130px;
  align-items: flex-start;
  text-transform: uppercase;
  z-index: 4;
  margin-top: 8rem;
}
.footer_container .footer_site a,
.footer_container .footer_helpme a,
.footer_container .footer_contact a,
.footer_container .footer_others a {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  color: hsl(256deg, 26%, 20%);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.footer_container .footer_site a:is(:hover, :active),
.footer_container .footer_helpme a:is(:hover, :active),
.footer_container .footer_contact a:is(:hover, :active),
.footer_container .footer_others a:is(:hover, :active) {
  text-decoration: underline;
  color: #da531a;
}
.footer_container .coded {
  font-family: "Permanent Marker", cursive;
  text-align: end;
  margin-right: 3rem;
  margin-top: 2rem;
  color: rgba(218, 84, 26, 0.431372549);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .footer_container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer_container .footer_curly_img {
    position: absolute;
    top: -8rem;
    left: -4rem;
    transform: rotateZ(48deg);
    z-index: 3;
    width: 250px;
  }
  .footer_container .footer_curly_img_2 {
    position: absolute;
    top: -8rem;
    left: -2rem;
    transform: rotateZ(48deg);
    width: 250px;
    z-index: 3;
  }
  .footer_container .footer_links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
    padding: 0;
  }
  .footer_container .footer_links .footer_site,
.footer_container .footer_links .footer_contact,
.footer_container .footer_links .footer_helpme,
.footer_container .footer_links .footer_others {
    margin-top: 2rem;
    gap: -1rem;
    align-items: center;
  }
  .footer_container .footer_links .footer_site {
    margin-top: 5rem;
  }
  .footer_container .footer_links .footer_site a,
.footer_container .footer_links .footer_helpme a,
.footer_container .footer_links .footer_contact a,
.footer_container .footer_links .footer_others a {
    font-size: 12px;
    text-align: center;
  }
  .footer_container .coded {
    text-align: center;
    margin-right: 0;
    padding-bottom: 1rem;
  }
  .footer_container .footer_icons {
    position: absolute;
    right: 8rem;
    top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #da531a;
  }
  .footer_container .footer_icons #icon {
    height: 18px;
  }
  .footer_container .capsule_corp_img {
    position: absolute;
    top: -1rem !important;
    left: 10px;
    width: 20vw;
    height: 8vh !important;
  }
}
@media only screen and (max-width: 1050px) {
  .footer_container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer_container .footer_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0;
  }
  .footer_container .footer_links .footer_site,
.footer_container .footer_links .footer_contact,
.footer_container .footer_links .footer_helpme,
.footer_container .footer_links .footer_others {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  .footer_container .footer_links .footer_site {
    margin-top: 5rem;
  }
}/*# sourceMappingURL=Footer.css.map */