@use './variables/variables' as v;
@use './mixins/mixin' as m;
@forward './templates/templates';

//Wrapper

.gokuforms_wrapper {
  position: v.$relative;
  font-family: v.$fontfamily;
  @extend %full-center-column;

  //Wrapper Title

  .gokuforms_wrapper_title {
    margin-bottom: 5rem;
    background-color: v.$color-main-2;
    color: v.$color-gokuform-title-text;
    border: 5px solid v.$color-black;
    border-radius: 1rem;
    font-weight: 400;
    padding: 5px;
  }

  //Decor Line - Wrapper

  .gokuforms_wrapper_line {
    @include m.dimensions(100vw, 10rem);
    @extend %border-top-bottom;
    position: v.$absolute;
    top: 20rem;
    background-color: v.$color-main-2;
    z-index: 1;
  }

  //Main Container

  .gokuforms_container {
    @include m.dimensions(100vw, 100vh);
    @extend %jc-center-row;
    gap: 10rem;
    z-index: 2;

    //Images Container

    .gokuforms_img_conatiner {
      height: 35vh;
      //Image
      .gokuforms_img {
        width: 18vw;
        margin-left: 2rem;
      }
    }

    // Text Containers

    .gokuforms_text_container {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      max-width: 600px;
      margin-right: 2rem;
      margin-top: 5rem;

      //React Select Input

      .react-select-container {
        @extend %fade-in-text;
        max-width: 600px;
        text-align: v.$text-center;
      }

      //Text info Container

      .gokuforms_text_info {
        font-weight: 700;
        background-color: v.$color-main-2;
        color: v.$color-gokuform-title-text;
        border-radius: 1rem;
        text-align: left;
        line-height: 2rem;
        padding: 12px;
      }
    }
  }
}

/* Keyframes */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(2rem);
  }
}
/* Media Queries */
@media only screen and (max-width: 768px) {
  .gokuforms_wrapper {
    margin-top: -4rem !important;

    .gokuforms_wrapper_title {
      margin-bottom: 1rem !important;
      width: 80vw;
      font-size: v.$fontsize !important;
      text-align: center;
    }
  }

  .gokuforms_wrapper_line {
    top: 15rem;
    height: 15rem;
  }
  .gokuforms_text_container {
    margin: 6rem 0 1rem 0 !important;

    .react-select-container {
      margin: 0 1rem 2rem 1rem;
    }

    .gokuforms_text_info {
      width: 320px;
    }
  }

  /* Images Container */
  .gokuforms_img_conatiner {
    height: 25vh !important;
    margin-top: -2rem;

    .gokuforms_img {
      width: 55vw !important;
      margin: 0 !important;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .gokuforms_wrapper {
    height: fit-content;

    .gokuforms_container {
      flex-direction: column-reverse;
      height: fit-content;
      align-items: center;
      gap: 2rem;

      /* Images Container */
      .gokuforms_img_conatiner {
        height: 45vh;
        margin-bottom: 20rem;

        .gokuforms_img {
          width: 35vw;
          margin-left: 2rem;
        }
      }
    }
  }
}
