.navbar_container {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #441907, #da531a);
  height: 120px;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  width: 100vw;
}
.navbar_links_container {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.navbar_links_mobile {
  display: none;
}
.mobile_menu_icon {
  display: none;
}
.navbar_links {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.3rem;
  width: 100vw;
  list-style: none;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
  text-decoration: none;
  z-index: 1;
  background-color: #441907;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 3rem;
}
.navbar_links a {
  text-decoration: none;
  color: #d69811;
  background-color: #441907;
  border: 2px solid #441907;
  border-radius: 8px;
  padding: 0.5rem;
}
.navbar_links a:is(:hover, :focus) {
  color: #441907;
  background-color: #da531a;
  border: 2px solid #000;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

.logo_container {
  display: flex;
  align-items: center;
  z-index: 3;
  background: transparent;
}
.logo {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  width: 100px;
  height: 100px;
}
.logo:hover {
  position: absolute;
  top: 0.3rem;
  left: 1.8rem;
  width: 105px;
  height: 105px;
}

.goku_logo_container {
  position: absolute;
  right: -0.5rem;
  display: flex;
  align-items: center;
  z-index: 3;
}
.goku_logo {
  width: 130px;
  height: 100px;
}

.navbar_cloud_line {
  position: relative;
  width: 100vw;
  height: 5px;
  background-color: #e2b042;
  z-index: 3;
  box-shadow: 0px 2px 15px 6px #ffbc2c;
  margin-bottom: 8rem;
}
.navbar_cloud {
  position: absolute;
  top: -1.3rem;
  left: 2.5rem;
  width: 80px;
  height: 50px;
  animation: cloudMove 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.navbar_title_container {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar_title {
  font-size: 16px;
}
.goku_hair {
  width: 60px;
  height: 40px;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
@keyframes cloudMove {
  0% {
    transform: translateX(-5rem);
  }
  /* Media Querie required -this is for desktop*/
  100% {
    transform: translateX(95vw);
  }
}

/* Media Queries for Cloud*/
@media only screen and (max-width: 1800px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }
    /* Media Querie required -this is for desktop*/
    100% {
      transform: translateX(80vw);
    }
  }
}
@media only screen and (max-width: 1400px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }

    100% {
      transform: translateX(75vw);
    }
  }
}
@media only screen and (max-width: 1000px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }

    100% {
      transform: translateX(68vw);
    }
  }
}
@media only screen and (max-width: 800px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }

    100% {
      transform: translateX(50vw);
    }
  }
}

/* Media Queries */

@media only screen and (max-width: 375px) {
  .navbar_container {
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
  }
  .navbar_links_container {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }
  .navbar_links {
    display: none;
  }

  /* Mobile Screen */
  .mobile_menu_icon {
    display: block;
    position: absolute;
    top: 3rem;
    left: 1rem;
    background-color: transparent;
    border: none;
    font-size: 18px;
  }
  .mobile_menu_icon:is(:hover) {
    cursor: pointer;
  }
  .mobile_menu_icon:focus {
    top: 2.8rem;
    left: 0.8rem;
    padding: 2px;
    border: 2px solid #000;
    border-radius: 2px;
    transition: 0.2s ease all;
  }
  .navbar_links_mobile {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    background-color: #441907;
    z-index: 4;
  }
  .navbar_links_mobile li {
    list-style: none;
  }
  .navbar_links_mobile a {
    text-decoration: none;
    color: #d69811;
    background-color: #441907;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 12px;
    width: 80vw;
  }
  .navbar_links_mobile a:is(:hover, :focus) {
    color: #441907;
    background-color: #da531a;
    border: 2px solid #000;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
  }

  /* **** */

  .logo_container {
    display: none;
  }

  .goku_logo_container {
    top: 1.4rem;
    right: 0;
    z-index: 3;
  }
  .goku_logo {
    width: 80px;
    height: 60px;
  }

  .navbar_cloud {
    width: 60px;
    height: 40px;
  }

  .goku_hair {
    width: 40px;
    height: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .logo_container {
    display: none;
  }
}
