@use './variables/variables' as v;
@use './mixins/mixin' as m;
@forward './templates/templates';

//Main Container
.navbar_container {
  @include m.dimensions(100vw, 120px);
  font-family: v.$fontfamily;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, v.$color-main-2, v.$color-main-3);
  border: 2px solid v.$color-black;
  border-left: none;
  border-right: none;

  //Links Container
  .navbar_links_container {
    display: flex;
    align-items: flex-end;
    gap: 2rem;

    //Link elements
    .navbar_links {
      @include m.dimensions(100vw, 3rem);
      @extend %jc-center-row;
      position: v.$relative;
      gap: 1.3rem;
      list-style: none;
      text-transform: uppercase;
      /* margin-bottom: 1rem; */
      text-decoration: none;
      z-index: 1;
      background-color: v.$color-main-2;
      border: 2px solid v.$color-black;
      border-left: none;
      border-right: none;
      border-bottom: none;
      a {
        text-decoration: none;
        color: v.$color-main-1;
        background-color: v.$color-main-2;
        border: 2px solid v.$color-main-2;
        border-radius: 8px;
        padding: 0.5rem;

        //Hover,Focus
        &:is(:hover, :focus) {
          color: v.$color-main-2;
          background-color: v.$color-main-3;
          border: 2px solid v.$color-black;
          transform: translateY(-5px);
          transition: 0.3s ease-in-out;
        }
      }
    }
    //Mobile Menu -none
    .navbar_links_mobile {
      display: v.$display-none;
    }
  }
}

//Mobile mneu icon
.mobile_menu_icon {
  display: v.$display-none;
}

//Navbar logo container
.logo_container {
  @extend %flex-align-c;
  z-index: 3;
  background: transparent;

  //Logo image
  .logo {
    @include m.dimensions(100px, 100px);
    position: v.$absolute;
    top: 0.5rem;
    left: 2rem;

    &:hover {
      @include m.dimensions(105px, 105px);
      position: v.$absolute;
      top: 0.3rem;
      left: 1.8rem;
    }
  }
}

.goku_logo_container {
  @extend %flex-align-c;
  position: v.$absolute;
  right: -0.5rem;
  z-index: 3;

  .goku_logo {
    @include m.dimensions(130px, 100px);
  }
}

//Navbar cloud container
.navbar_cloud_line {
  @include m.dimensions(100vw, 5px);
  position: v.$relative;
  background-color: v.$color-navbar-cloud;
  z-index: 3;
  box-shadow: 0px 2px 15px 6px v.$color-navbar-cloud;
  margin-bottom: 8rem;

  //Navbar cloud
  .navbar_cloud {
    @extend %cloud-move;
    @include m.dimensions(80px, 50px);
    position: v.$absolute;
    top: -1.3rem;
    left: 2.5rem;
  }
}

.navbar_title_container {
  @extend %full-center-column;
  position: v.$absolute;
  font-family: v.$fontfamily;

  .goku_hair {
    @include m.dimensions(60px, 40px);
  }
  .navbar_title {
    font-size: v.$fontsize;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
@keyframes cloudMove {
  0% {
    transform: translateX(-5rem);
  }
  /* Media Querie required -this is for desktop*/
  100% {
    transform: translateX(95vw);
  }
}

/* Media Queries for Cloud*/
@media only screen and (max-width: 1800px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }
    /* Media Querie required -this is for desktop*/
    100% {
      transform: translateX(80vw);
    }
  }
}
@media only screen and (max-width: 1400px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }

    100% {
      transform: translateX(75vw);
    }
  }
}
@media only screen and (max-width: 1000px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }

    100% {
      transform: translateX(68vw);
    }
  }
}
@media only screen and (max-width: 768px) {
  @keyframes cloudMove {
    0% {
      transform: translateX(-5rem);
    }

    100% {
      transform: translateX(50vw);
    }
  }
}
/************/
/* Media Queries */

@media only screen and (max-width: 768px) {
  .navbar_container {
    @include m.dimensions(100vw, 80px);
    justify-content: center;
    align-items: center;
    .navbar_links_container {
      display: flex;
      align-items: flex-end;
      gap: 2rem;

      /* Mobile Screen */
      .mobile_menu_icon {
        display: block;
        position: v.$absolute;
        top: 3rem;
        left: 1rem;
        background-color: transparent;
        border: none;
        font-size: 18px;

        &:is(:hover) {
          cursor: v.$cursor-pointer;
        }

        &:focus {
          top: 2.8rem;
          left: 0.8rem;
          padding: 2px;
          border: 2px solid v.$color-black;
          border-radius: 2px;
          transition: 0.2s ease all;
        }
      }
      .navbar_links {
        display: v.$display-none;
      }
    }
  }

  .navbar_links_mobile {
    @include m.dimensions(100vw, 60vh);
    display: flex !important;
    position: v.$absolute;
    top: 6rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    background-color: v.$color-main-2;
    z-index: 4;

    a {
      text-decoration: none;
      color: v.$color-main-1;
      background-color: v.$color-main-2;
      border: 2px solid v.$color-black;
      border-radius: 8px;
      padding: 0.5rem;
      font-size: 12px;
      width: 80vw;

      &:is(:hover, :focus) {
        color: v.$color-main-2;
        background-color: v.$color-main-3;
        border: 2px solid v.$color-black;
        transform: translateY(-5px);
        transition: 0.3s ease-in-out;
      }
    }

    li {
      list-style: none;
    }
  }

  /* **** */

  .logo_container {
    display: none;
  }

  .goku_logo_container {
    top: 1.4rem;
    right: 0;
    z-index: 3;
    .goku_logo {
      @include m.dimensions(80px, 60px);
    }
  }

  .navbar_cloud_line {
    z-index: 5;
  }
  .navbar_cloud {
    @include m.dimensions(60px, 40px);
  }

  .goku_hair {
    width: 40px;
    height: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .logo_container {
    display: none;
  }
}
