//Font Family
$fontfamily: 'Permanent Marker', sans-serif, cursive;
//Variables
$display-none: none;
$transition-coming-soon: 0.5s ease;
$cursor-pointer: pointer;
$absolute: absolute;
$relative: relative;
$height: 100vh;
$width: 100vw;
$fontsize: 16px;
$text-center: center;

//Main Colors
$color-black: #000;
$color-white: #fff;
$color-main-1: #d69811;
$color-main-2: #441907;
$color-main-3: #da531a;

$color-boxflash: #ffae00;
$color-gokuform-title-text: #ffae00;

//Uniqe Colors
$color-coded: #da541a6e;
$color-footer-links: hsl(256, 26%, 20%);
$color-navbar-cloud: #ffbc2c;
